img {
  width: 288px;
  height: 182px;
  padding: 10px;
  margin-bottom: 10px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__title {
  font-size: 10px;
  color: #282828;
}
.card__description {
  font-size: 10px;
  color: #282828;
}
.card {
  background-color: #fff;
  padding: 10px;
}
header {
  background-color: #ffffff;
}
body {
  background-color: #c4c4c4;
}
nav {
  background-color: #726666;
}
footer {
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    /* タブレット用レイアウト 600px以下の範囲に収めるデザインはこの中に記述 */
  }
@media screen and (max-width: 320px) {
    /* スマホ用レイアウト 320px以下の範囲に収めるデザインはこの中に記述 */
    .card-container {
        display:none;
        justify-content: center;
        align-items: center;
    }
  }
